:root {
    --text-light: #000000;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;;
    background-image: url(../images./egypt.jpg);
    background-size: 100%;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* použijte auto-fit s šířkou sloupce minimálně 300px */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: minmax(300px, 600px);
    padding: 1em;
    gap: 1em;
}
.categories__item {
    position: relative;
    color: inherit;
    border-radius: 20px;
    overflow: hidden;
    /* max-height: 80vh; */
}
.categories__item:hover {
    box-shadow: 0 0 8px 2px var(--text-light);
    transform: scale(105%);
}
.categories__item-image {
    filter: brightness(0.9) saturate(1) contrast(1);
    border-radius: 20px;
}
.categories__item-description {
    padding: 1em;
    color: var(--text-light);
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    width: max-content;
}
.categories__item:hover .categories__item-description {
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 50%;
    transition: 0.5s;
}

.categories__item:hover .categories__item-image {
    transform: scale(140%);
    transition: 2s;
}
.categories:hover .categories__item:not(:hover) {
    filter: blur(5px); 
}




/* TODO */


/* Global */
.img-responsive {
    width: 100%;
    display: block;
}
figure, h2 {
    margin: 0;
}
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);
}